* {
  box-sizing: border-box;
}
body {
  font-family: "Public Sans", sans-serif;
  font-size: 16px;
  background-color: var(--light-grayish-blue);
  color: var(--dark-blue);
}
:root {
  --dark-blue: hsl(233, 26%, 24%);
  --lime-green: hsl(136, 65%, 51%);
  --bright-cyan: hsl(192, 70%, 51%);
  --grayish-blue: hsl(233, 8%, 62%);
  --light-grayish-blue: hsl(220, 16%, 96%);
  --white: hsl(0, 0%, 100%);
  --red: hsl(355, 46%, 45%);
  --green: hsl(137, 57%, 59%);
}
.title {
  text-align: center;
  font-size: 44px;
  color: var(--dark-blue);
  text-shadow: 4px 4px 4px var(--grayish-blue);
  letter-spacing: 6px;
  font-weight: 900;
}
.rules {
  color: var(--dark-blue);
  margin: 0 auto;
  width: 800px;
}

.navi {
  margin: 40px auto;
  width: 800px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  width: 150px;
  height: 50px;
  border-radius: 25px;
  font-size: 24px;
  color: var(--dark-blue);
  background: linear-gradient(
    to right,
    var(--lime-green) 0%,
    var(--bright-cyan) 100%
  );
  border: 1px solid var(--dark-blue);
}

.navi__timer {
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  width: 200px;
}
.progress {
  width: 200px;
  height: 10px;
  background: linear-gradient(
    to right,
    var(--bright-cyan) 0%,
    var(--lime-green) 100%
  );
  border-radius: 5px;
  border: 1px solid var(--dark-blue);
}
.excercise {
  display: block;
  padding: 10px 20px;
  width: 800px;
  margin: 30px auto;
  font-size: 24px;
  border: 2px solid var(--dark-blue);
  background-color: white;
  border-radius: 25px;
  overflow: hidden;
  line-height: 2;
  word-spacing: 4px;
}
.example {
  height: 170px;
}
.example__word {
  padding: 4px 10px;
  border-radius: 15px;
}

/* word and letter styling - correctness assessment */
.active {
  background-color: var(--bright-cyan);
}
.fail {
  color: var(--red);
}
.pass {
  color: var(--lime-green);
}
.correct {
  color: var(--light-grayish-blue);
}

.incorrect {
  color: var(--red);
}
.record {
  height: 50px;
  text-align: center;
}

/* results window */

.result {
  width: 700px;
  height: 400px;
  padding: 15px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50px;
  background-color: var(--light-grayish-blue);
  border: 3px solid var(--dark-blue);
  box-shadow: 0px 0px 100px 5px var(--dark-blue);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.result__cathegory {
  font-size: 24px;
  color: var(--dark-blue);
  font-weight: 900;
}

.result__cathegory-details {
  display: block;
  color: var(--grayish-blue);
  font-weight: 400;
  font-size: 18px;
}

.result__title {
  font-size: 44px;
  text-shadow: 4px 4px 4px var(--grayish-blue);
  letter-spacing: 6px;
  font-weight: 900;
}

.result__close_button {
  width: 400px;
}
